#root {
    display: flex;
    /* flex-direction: row; */
    
}
.leftDiv {
    background-color: aqua;
    width: 40%;
    padding: 24px;
}
.rightDiv {
    background-color: blueviolet;
    width: 60%;
}
.title {
    font-size: 40px;
    color: darkblue; 
}
.btn {
    background-color: gold;
    border-radius: 5px;
    padding: 12px;
    border: 2px solid green;
    /* margin-left: auto; */
    margin-left: 10px;
}
.btnedit{
    margin-left: auto; 
  
}
.btn-add {
    background-color: orange;
    border-radius: 5px;
    padding: 12px;
}
.list {
    list-style: none; 
    padding: 16px; 
}
.list_item {
    display: flex;
}

.booktitle {
    cursor: pointer;
}
.rightDiv{
    padding-right: 30px;
}
.heading {
    margin-left: 30px;
    color: peachpuff;
    font-size: 40px;
}
.text {
    font-size: 20px;
    padding-left: 30px;
    color: silver;
}
.img {
    padding-left: 30px;
}

.book-form {
    display:flex;
    flex-direction: column;
    padding: 24px;
    max-width: 500px;
    margin: 0 auto;
}
.btn-save{
    width: 100px;
    margin: 20px;
}
label{
    font-size: 20px;
    color: rgb(80, 255, 240);
    margin-top: 5px;
}
input {
    padding: 8px;
    display: flex;
    margin-top: 5px;
}